#root {
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
}

.connected {
  color: #4CAF50;
}

.disconnected {
  color: #f44336;
}

.connect-btn {
  background-color: #4CAF50;
  color: white;
}

.disconnect-btn {
  background-color: #f44336;
  color: white;
}